apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      initContainers:
        - name: init-database
          image: postgres:12
          envFrom:
            - configMapRef:
                name: postgres-config
            - secretRef:
                name: postgres-secret
          command:
            - sh
            - -c
            - |
              if [ "$(ls -A /var/lib/postgresql/data)" ]; then
                echo "Data directory not empty. Cleaning up..."
                rm -rf /var/lib/postgresql/data/*
              fi
              echo "Creating database $POSTGRES_DB"
              /usr/local/bin/docker-entrypoint.sh postgres
      containers:
        - name: postgres
          image: postgres:12
          ports:
            - containerPort: 5432
          envFrom:
            - configMapRef:
                name: postgres-config
            - secretRef:
                name: postgres-secret
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
      restartPolicy: Always
