apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik
  namespace: kube-public
  labels:
    app: traefik
spec:
  replicas: 2
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      containers:
        - name: traefik
          image: traefik:3.1
          args:
            - "--api.insecure=false"
            - "--api.dashboard=true"
            - "--providers.kubernetescrd"
            - "--entrypoints.web.address=:80"
          ports:
            - name: web
              containerPort: 80
            - name: admin
              containerPort: 8080
      restartPolicy: Always
